.list {
    display: table;
    width: 100%;
}

.list__item {
    position: relative;
    display: table-row;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
}

.list__item-element {
    display: table-cell;
    width: 0;
    color: #999;
    vertical-align: middle;
    padding:5px 3px;
    min-height:42px;
    border-top: 0.1rem solid #DDD;
}

.list__item-element:first-child {
    padding-left: 8px;
}

.list__item-element:last-child {
    padding-right: 8px;
}

.list__item-element_main {
    width: 100%;
    white-space: normal;
    text-align: left;
}

.list__main-action {
    font-size: 21px;
}