<div class="app-container app-container-padded">

    <div class="calendar-month">
        <table>
            <caption>August</caption>
            <tbody>
            <tr>
                <th>Su</th>
                <th>Mo</th>
                <th>Tu</th>
                <th>We</th>
                <th>Th</th>
                <th>Fr</th>
                <th>Sa</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><span>&numsp;1</span></td>
                <td><span>&numsp;2</span></td>
                <td class="mark-start"><span>3</span></td>
                <td class="mark"><span>&numsp;4</span></td>
            </tr>
            <tr>
                <td class="mark"><span>&numsp;5</span></td>
                <td class="mark"><span>&numsp;6</span></td>
                <td class="mark"><span>&numsp;7</span></td>
                <td class="mark"><span>&numsp;8</span></td>
                <td class="mark"><span>&numsp;9</span></td>
                <td class="mark"><span>10</span></td>
                <td class="mark"><span>11</span></td>
            </tr>
            <tr>
                <td class="mark"><span>12</span></td>
                <td class="mark"><span>13</span></td>
                <td class="mark"><span>14</span></td>
                <td class="mark"><span>15</span></td>
                <td class="mark"><span>16</span></td>
                <td class="mark"><span>17</span></td>
                <td class="mark"><span>18</span></td>
            </tr>
            <tr>
                <td class="mark"><span>19</span></td>
                <td class="mark"><span>20</span></td>
                <td class="mark"><span>21</span></td>
                <td class="mark"><span>22</span></td>
                <td class="mark"><span>23</span></td>
                <td class="mark"><span>24</span></td>
                <td class="mark"><span>25</span></td>
            </tr>
            <tr>
                <td class="mark"><span>26</span></td>
                <td class="mark"><span>27</span></td>
                <td class="mark"><span>28</span></td>
                <td class="mark"><span>29</span></td>
                <td class="mark"><span>30</span></td>
                <td class="mark"><span>31</span></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="calendar-month">
        <table>
            <caption>September</caption>
            <tbody>
            <tr>
                <th>Su</th>
                <th>Mo</th>
                <th>Tu</th>
                <th>We</th>
                <th>Th</th>
                <th>Fr</th>
                <th>Sa</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="mark"><span>&numsp;1</span></td>
            </tr>
            <tr>
                <td class="mark"><span>&numsp;2</span></td>
                <td class="mark"><span>&numsp;3</span></td>
                <td class="mark"><span>&numsp;4</span></td>
                <td class="mark"><span>&numsp;5</span></td>
                <td class="mark"><span>&numsp;6</span></td>
                <td class="mark"><span>&numsp;7</span></td>
                <td class="mark"><span>&numsp;8</span></td>
            </tr>
            <tr>
                <td class="mark"><span>&numsp;9</span></td>
                <td class="mark"><span>10</span></td>
                <td class="mark"><span>11</span></td>
                <td class="mark"><span>12</span></td>
                <td class="mark"><span>13</span></td>
                <td class="mark"><span>14</span></td>
                <td class="mark"><span>15</span></td>
            </tr>
            <tr>
                <td class="mark"><span>16</span></td>
                <td class="mark"><span>17</span></td>
                <td class="mark"><span>18</span></td>
                <td class="mark"><span>19</span></td>
                <td class="mark"><span>20</span></td>
                <td class="mark"><span>21</span></td>
                <td class="mark"><span>22</span></td>
            </tr>
            <tr>
                <td class="mark"><span>23</span></td>
                <td class="mark"><span>24</span></td>
                <td class="mark"><span>25</span></td>
                <td class="mark"><span>26</span></td>
                <td class="mark"><span>27</span></td>
                <td class="mark"><span>28</span></td>
                <td class="mark"><span>29</span></td>
            </tr>
            <tr>
                <td class="mark"><span>30</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="calendar-month">
        <table>
            <caption>October</caption>
            <tbody>
            <tr>
                <th>Su</th>
                <th>Mo</th>
                <th>Tu</th>
                <th>We</th>
                <th>Th</th>
                <th>Fr</th>
                <th>Sa</th>
            </tr>
            <tr>
                <td></td>
                <td class="mark"><span>&numsp;1</span></td>
                <td class="mark"><span>&numsp;2</span></td>
                <td class="mark"><span>&numsp;3</span></td>
                <td class="mark"><span>&numsp;4</span></td>
                <td class="mark"><span>&numsp;5</span></td>
                <td class="mark"><span>&numsp;6</span></td>
            </tr>
            <tr>
                <td class="mark"><span>&numsp;7</span></td>
                <td class="mark"><span>&numsp;8</span></td>
                <td class="mark"><span>&numsp;9</span></td>
                <td class="mark"><span>10</span></td>
                <td class="mark"><span>11</span></td>
                <td class="mark"><span>12</span></td>
                <td class="mark"><span>13</span></td>
            </tr>
            <tr>
                <td class="mark"><span>14</span></td>
                <td class="mark"><span>15</span></td>
                <td class="mark"><span>16</span></td>
                <td class="mark"><span>17</span></td>
                <td class="mark"><span>18</span></td>
                <td class="mark"><span>19</span></td>
                <td class="mark"><span>20</span></td>
            </tr>
            <tr>
                <td class="mark"><span>21</span></td>
                <td class="mark"><span>22</span></td>
                <td class="mark-end"><span>23</span></td>
                <td><span>24</span></td>
                <td><span>25</span></td>
                <td><span>26</span></td>
                <td><span>27</span></td>
            </tr>
            <tr>
                <td><span>28</span></td>
                <td><span>29</span></td>
                <td><span>30</span></td>
                <td><span>31</span></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h1 style="clear: both">Example without week days</h1>

    <div class="calendar-month no-days">
        <table>
            <caption>August</caption>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><span>&numsp;1</span></td>
                <td><span>&numsp;2</span></td>
                <td class="mark-start"><span>3</span></td>
                <td class="mark"><span>&numsp;4</span></td>
            </tr>
            <tr>
                <td class="mark"><span>&numsp;5</span></td>
                <td class="mark"><span>&numsp;6</span></td>
                <td class="mark"><span>&numsp;7</span></td>
                <td class="mark"><span>&numsp;8</span></td>
                <td class="mark"><span>&numsp;9</span></td>
                <td class="mark"><span>10</span></td>
                <td class="mark"><span>11</span></td>
            </tr>
            <tr>
                <td class="mark"><span>12</span></td>
                <td class="mark"><span>13</span></td>
                <td class="mark"><span>14</span></td>
                <td class="mark"><span>15</span></td>
                <td class="mark"><span>16</span></td>
                <td class="mark"><span>17</span></td>
                <td class="mark"><span>18</span></td>
            </tr>
            <tr>
                <td class="mark"><span>19</span></td>
                <td class="mark"><span>20</span></td>
                <td class="mark"><span>21</span></td>
                <td class="mark"><span>22</span></td>
                <td class="mark"><span>23</span></td>
                <td class="mark"><span>24</span></td>
                <td class="mark"><span>25</span></td>
            </tr>
            <tr>
                <td class="mark"><span>26</span></td>
                <td class="mark"><span>27</span></td>
                <td class="mark"><span>28</span></td>
                <td class="mark"><span>29</span></td>
                <td class="mark"><span>30</span></td>
                <td class="mark"><span>31</span></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h1 style="clear: both">Example markers</h1>

    <div class="calendar-month">
        <table>
            <caption>October</caption>
            <tbody>
            <tr>
                <th>Su</th>
                <th>Mo</th>
                <th>Tu</th>
                <th>We</th>
                <th>Th</th>
                <th>Fr</th>
                <th>Sa</th>
            </tr>
            <tr>
                <td></td>
                <td><span>&numsp;1</span></td>
                <td><span>&numsp;2</span></td>
                <td><span>&numsp;3</span></td>
                <td><span>&numsp;4</span></td>
                <td><span>&numsp;5</span></td>
                <td><span>&numsp;6</span></td>
            </tr>
            <tr>
                <td><span>&numsp;7</span></td>
                <td><span>&numsp;8</span></td>
                <td><span>&numsp;9</span></td>
                <td><span>10</span></td>
                <td><span>11</span></td>
                <td><span>12</span></td>
                <td><span>13</span></td>
            </tr>
            <tr>
                <td><span>14</span></td>
                <td><span>15</span></td>
                <td><span>16</span></td>
                <td><span>17</span></td>
                <td><span>18</span></td>
                <td><span>19</span></td>
                <td><span>20</span></td>
            </tr>
            <tr>
                <td><span>21</span></td>
                <td><span>22</span></td>
                <td><span>23</span></td>
                <td><span>24</span></td>
                <td><span>25</span></td>
                <td><span>26</span></td>
                <td><span>27</span></td>
            </tr>
            <tr>
                <td><span>28</span></td>
                <td><span>29</span></td>
                <td><span>30</span></td>
                <td><span>31</span></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>


    <h1 style="clear: both">Some notes about the table design</h1>
    <p>The text within the table cells and circles should align center.</p>
    <p>To make the one digit numbers align right with the two digit numbers, before each one digit number that is not
        within a circle there is a numsp-html-entity.</p>
    <p>Only if a one digit number appears with a circle around it, it will not have the numeric space, but will aligned
        centered within the circle.</p>
    <p>To fill the half background of a cell that shows a start or end circle a background-gradient was used with
        intermediate stops at 50%</p>
    <p><strong>Important</strong>: in this example there is a month that has more weeks than the other months. In Flex
        all months have the same hight if they are next to each other. This was not made part of these specks, but
        should be done during implentation.</p>
    <p>Purpose of this specs was to come up with a reasonable definition of the spacing within the table of individual
        months.</p>

</div>




