<div class="app-container app-container-padded">

    <div class="context-notification context-notification-neutral">
        The quick brown fox jumps over the lazy dog.
    </div>
    <p class="note">Context notification with neutral decoration.</p>

    <div class="context-notification context-notification-neutral context-notification-full-width">
        The quick brown fox jumps over the lazy dog.
    </div>
    <p class="note">Context notification with neutral decoration and full width.</p>

    <div class="context-notification context-notification-action">
        The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog twice.
    </div>
    <p class="note">Context notification with action decoration.</p>

    <div class="context-notification context-notification-right">
        The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog twice.
    </div>
    <p class="note">Context notification with right decoration.</p>

    <div class="context-notification context-notification-wrong">
        The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog twice.
    </div>
    <p class="note">Context notification with wrong decoration.</p>

    <div class="context-notification context-notification-warning context-notification-full-width">
        The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog twice.
    </div>
    <p class="note">Context notification with warning decoration and full width.</p>

    <div class="context-notification context-notification-attention">
        The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog twice.
    </div>
    <p class="note">Context notification with attention decoration.</p>

</div>
