<div class="app-container app-container-padded">

    <div class="content-container content-container-neutral content-container-has-title">
        <div class="content-container-header-wrapper">
            <div class="content-container-header">
                <div class="content-container-title">
                    Aanewala Pal Janewala Hai
                </div>
                <div class="content-container-toggle">
                    <div class="content-container-toggle-btn">
                        <div class="content-container-toggle-icon">
                            <span></span><span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="content-container-body-wrapper">
            <div class="content-container-body">
                <p>
                    Aanewala Pal Janewala Hai<br/> Aanewala Pal Janewala Hai<br/> Ho Sake Toh Isame Jindagee Bita
                    Do<br/> Pal Jo Yeh Janewala
                    Hai Ho Ho…<br/> Aanewala Pal Janewala Hai<br/> Ho Sake Toh Isame Jindagee Bita Do<br/> Pal Jo Yeh
                    Janewala Hai Ho Ho…<br/>
                    <br/> Ek Bar Yu Milee Masum See Kalee<br/> Ek Bar Yu Milee Masum See Kalee<br/> Ho Khilte Huye Kahan
                    Pushpash Me Chalee<br/> Dekha Toh Yahee Hai Dhundha Toh Nahee Hai<br/> Pal Jo Yeh Janewala Hai Ho
                    Ho…<br/>
                </p>
            </div>
        </div>
    </div>
    <p class="note">Collapsable content container neutral. All collapsable content containers must have a title.</p>

    <div class="content-container content-container-neutral content-container-has-title">
        <div class="content-container-header-wrapper">
            <div class="content-container-header">
                <div class="content-container-title">
                    Aanewala Pal Janewala Hai
                </div>
            </div>
        </div>
        <div class="content-container-body-wrapper">
            <div class="content-container-body">
                <p>
                    Aanewala Pal Janewala Hai<br/> Aanewala Pal Janewala Hai<br/> Ho Sake Toh Isame Jindagee Bita
                    Do<br/> Pal Jo Yeh Janewala
                    Hai Ho Ho…<br/> Aanewala Pal Janewala Hai<br/> Ho Sake Toh Isame Jindagee Bita Do<br/> Pal Jo Yeh
                    Janewala Hai Ho Ho…<br/>
                </p>
            </div>
        </div>
    </div>
    <p class="note">Content container no toggle.</p>


    <div class="content-container content-container-neutral">
        <div class="content-container-body">
            <p>
                Aanewala Pal Janewala Hai<br/> Aanewala Pal Janewala Hai<br/> Ho Sake Toh Isame Jindagee Bita Do<br/>
                Pal Jo Yeh Janewala
                Hai Ho Ho…<br/> Aanewala Pal Janewala Hai<br/> Ho Sake Toh Isame Jindagee Bita Do<br/> Pal Jo Yeh
                Janewala Hai Ho Ho…<br/>
            </p>
        </div>
    </div>
    <p class="note">Content container no header (no title, no toggle).</p>

    <div class="content-container content-container-action content-container-has-title">
        <div class="content-container-header-wrapper">
            <div class="content-container-header">
                <div class="content-container-title">
                    The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog twice.
                </div>
                <div class="content-container-toggle">
                    <div class="content-container-toggle-btn">
                        <div class="content-container-toggle-icon">
                            <span></span><span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="content-container-body-wrapper">
            <div class="content-container-body">
                <p>
                    Aanewala Pal Janewala Hai<br/> Aanewala Pal Janewala Hai<br/> Ho Sake Toh Isame Jindagee Bita
                    Do<br/> Pal Jo Yeh Janewala
                    Hai Ho Ho…<br/> Aanewala Pal Janewala Hai<br/> Ho Sake Toh Isame Jindagee Bita Do<br/> Pal Jo Yeh
                    Janewala Hai Ho Ho…<br/>
                </p>
            </div>
        </div>
    </div>
    <p class="note">Action.</p>


    <div class="content-container content-container-right content-container-has-title">
        <div class="content-container-header-wrapper">
            <div class="content-container-header">
                <div class="content-container-title">
                    Title
                </div>
                <div class="content-container-toggle">
                    <div class="content-container-toggle-btn">
                        <div class="content-container-toggle-icon">
                            <span></span><span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="content-container-body-wrapper">
            <div class="content-container-body">
                <p>
                    The quick brown fox jumps over the lazy dog. </p>
            </div>
        </div>
    </div>
    <p class="note">Right.</p>

    <div class="content-container content-container-wrong content-container-has-title">
        <div class="content-container-header-wrapper">
            <div class="content-container-header">
                <div class="content-container-title">
                    Title
                </div>
                <div class="content-container-toggle">
                    <div class="content-container-toggle-btn">
                        <div class="content-container-toggle-icon">
                            <span></span><span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="content-container-body-wrapper">
            <div class="content-container-body">
                <p>
                    The quick brown fox jumps over the lazy dog. </p>
            </div>
        </div>
    </div>
    <p class="note">Wrong.</p>

    <div class="content-container content-container-warning content-container-has-title">
        <div class="content-container-header-wrapper">
            <div class="content-container-header">
                <div class="content-container-title">
                    Title
                </div>
                <div class="content-container-toggle">
                    <div class="content-container-toggle-btn">
                        <div class="content-container-toggle-icon">
                            <span></span><span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="content-container-body-wrapper">
            <div class="content-container-body">
                <p>
                    The quick brown fox jumps over the lazy dog. </p>
            </div>
        </div>
    </div>
    <p class="note">Warning.</p>

    <div class="content-container content-container-attention content-container-has-title">
        <div class="content-container-header-wrapper">
            <div class="content-container-header">
                <div class="content-container-title">
                    Title
                </div>
                <div class="content-container-toggle">
                    <div class="content-container-toggle-btn">
                        <div class="content-container-toggle-icon">
                            <span></span><span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="content-container-body-wrapper">
            <div class="content-container-body">
                <p>
                    The quick brown fox jumps over the lazy dog. </p>
            </div>
        </div>
    </div>
    <p class="note">Attention.</p>

</div>
