 <div class="app-container app-container-padded">
 
		<div class="legend">
      	<div class="legend-header">Legend header</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend item label</div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend item label</div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend item label</div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend item label</div>
				</div>
			</div>
		</div>
      
		<div class="legend">
      	<div class="legend-header">Legend header</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend longer item label</div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend item label</div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend with two line text label</div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend item label</div>
				</div>
			</div>
		</div>
      
      <div class="legend">
      	<div class="legend-header">Legend header</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="big-element-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend item label</div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="big-element-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend with two line text label</div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="big-element-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend item label</div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="big-element-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label">Legend item label</div>
				</div>
			</div>
		</div>

		<div class="legend">
      	<div class="legend-header">Legend header</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label"><div class="big-element-dummy"></div></div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label"><div class="big-element-dummy"></div></div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label"><div class="big-element-dummy"></div></div>
				</div>
			</div>
			<div class="legend-list">   
            <div class="legend-list-item">
               <div class="legend-list-item-element"><div class="legend-basic-shape-dummy"></div></div>
               <div class="legend-list-item-element legend-list-item-element-label"><div class="big-element-dummy"></div></div>
				</div>
			</div>
		</div>
      
</div>
    
    
    
    
    
    




