 <div class="app-container app-container-padded">
 
<div class='Container'>
    <div class="LegendItem">
        <div class="LegendItem_Eye"><div class="legend-basic-shape-dummy"></div></div>
        <div class="LegendItem_Text">Short Text</div>
    </div>
    <div class="LegendItem">
        <div class="LegendItem_Eye"><div class="legend-basic-shape-dummy"></div></div>
        <div class="LegendItem_Text">Short Text</div>
    </div>
    <div class="LegendItem">
        <div class="LegendItem_Eye"><div class="legend-basic-shape-dummy"></div></div>
        <div class="LegendItem_Text">Short Text</div>
    </div>
    <div class="LegendItem">
        <div class="LegendItem_Eye"><div class="legend-basic-shape-dummy"></div></div>
        <div class="LegendItem_Text">Long Text Long Text Long Text Long </div>
    </div>
</div>
      
<div class='Container'>
    <div class="LegendItem">
        <div class="LegendItem_Eye"><div class="legend-basic-shape-dummy"></div></div>
        <div class="LegendItem_Text"><div class="big-element-dummy"></div></div>
    </div>
    <div class="LegendItem">
        <div class="LegendItem_Eye"><div class="legend-basic-shape-dummy"></div></div>
        <div class="LegendItem_Text"><div class="big-element-dummy"></div></div>
    </div>
    <div class="LegendItem">
        <div class="LegendItem_Eye"><div class="legend-basic-shape-dummy"></div></div>
        <div class="LegendItem_Text"><div class="big-element-dummy"></div></div>
    </div>
    <div class="LegendItem">
        <div class="LegendItem_Eye"><div class="legend-basic-shape-dummy"></div></div>
        <div class="LegendItem_Text"><div class="big-element-dummy"></div></div>
    </div>
</div>



</div>
    
    
    
    
    
    




