@font-face {    font-family: 'Roboto';
src: url('../ui-elements/font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {    font-family: 'Roboto';
src: url('../ui-elements/font/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 100;
}

@font-face {    font-family: 'Roboto';
src: url('../ui-elements/font/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {    font-family: 'Roboto';
src: url('../ui-elements/font/Roboto/Roboto-Italic.ttf') format('truetype');
    font-style: oblique;
}

@font-face {    font-family: 'Roboto';
src: url('../ui-elements/font/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: oblique;
}