::-webkit-scrollbar {
	width: 16px;
	border-left: 1px solid $c-gray-800;
}

::-webkit-scrollbar-track {
	background: #EEE;
	border-left: 1px solid $c-gray-300;
}

::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar-thumb {
	background: $c-gray-600;
	min-height: 70px;
	border-left: 1px solid $c-gray-300;
}

.widget-container {
	::-webkit-scrollbar {
		width: 11px;
	}
}